.app.dark {
    --bg-color: #0707ffb6;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #2dcf2d;
    --secondary-color: #04ff04;

    --inverted-primary-color: #022bb2;
    --inverted-secondary-color: #0449e0;
}