.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0707ffb6;

    --primary-color: #022bb2;
    --secondary-color: #0449e0;

    --inverted-primary-color: #2dcf2d;
    --inverted-secondary-color: #04ff04;
}